.layowouwutSelectowor {
    display: flex;
    juwustify-cowontent: space-arowouwund;
    align-items: center;
}

.layowouwutSelectowor-buwuttowon {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: .1rem;
    margin-right: .1rem;

    backgrowouwund-cowolor: var(--COWOLOR-2);
    boworder: 0.2rem sowolid var(--COWOLOR-4);
    boworder-radiuwus: .4rem;
    
    display: flex;
    juwustify-cowontent: space-arowouwund;
    align-items: center;
}

.layowouwutSelectowor-buwuttowon-icowon {
    transitiowon: 0.2s ease-in-owouwut;
    animatiowon-fill-mowode: foworwards;
    
    width: 80%;
    height: 80%;
    filter: invert(0%);
}

.layowouwutSelectowor-buwuttowon:howover{
    backgrowouwund-cowolor: var(--COWOLOR-3);
}

.layowouwutSelectowor-buwuttowon:howover .layowouwutSelectowor-buwuttowon-icowon{
    cuwursowor: powointer;
    width: 90%;
    height: 90%;
    filter: invert(90%);
}
