.layoutSelector {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutSelector-button {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: .1rem;
    margin-right: .1rem;

    background-color: var(--COLOR-2);
    border: 0.2rem solid var(--COLOR-4);
    border-radius: .4rem;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.layoutSelector-button-icon {
    transition: 0.2s ease-in-out;
    animation-fill-mode: forwards;
    
    width: 80%;
    height: 80%;
    filter: invert(0%);
}

.layoutSelector-button:hover{
    background-color: var(--COLOR-3);
}

.layoutSelector-button:hover .layoutSelector-button-icon{
    cursor: pointer;
    width: 90%;
    height: 90%;
    filter: invert(90%);
}
