#Container{
    /* Position */
    aspect-ratio: 16/9;
    min-height: 15rem;
    min-width: 15rem;
    width: min(50vw,30rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* Look */
    background-color: var(--BACKGROUND-3);
    border: .2em solid var(--BORDER-1);
    border-radius: 1rem;
}

#Top{
    border-bottom: .2em solid var(--BORDER-1);
    display: flex;
    padding: .2rem;

    align-items: center;
    justify-content: space-around;
}

#Top > *{
    margin: .2rem;
}

#Sort{
    border-radius: .2rem;
    color: black;
    border: 0;
}

#SearchButton{
    width:100%;
    height: 2.5rem;
    min-height: 1rem;
    border-radius: 0 0 .9rem .9rem;
    
    border-width: 0;
    border-top: .2em solid var(--BORDER-1);
    background-color: var(--BACKGROUND-2);
    font-weight: bold;
}

#SearchButton:active{
    background-color: var(--BACKGROUND-4);
    font-size: 1.1rem;
}
