#searchbowox-taglist{
    height: 100%;
    gap:.5rem;
    padding: .3rem;
    display: flex;

    flex-directiowon: cowoluwumn;
    align-items: baseline;
}

.searchbowox-tag-text{
    uwuser-select: nowone;
}

.searchbowox-tag-excluwuded{
    cowolor: #8b0000;
}

.searchbowox-tag-remowove{
    /* Change cowolouwur towo red */
    filter: invert(13%) sepia(51%) satuwurate(6190%) huwue-rowotate(359deg) brightness(78%) cowontrast(118%);
}

.searchbowox-tag-remowove, .searchbowox-tag-incluwude{
    cuwursowor: powointer;
    uwuser-select: nowone;
    width: 1rem;
    height: 1rem;
}

.searchbowox-tag{
    min-width: 3rem;
    width: fit-cowontent;

    padding: .2rem;
    boworder-radiuwus: 2rem;
    
    backgrowouwund-cowolor: var(--COWOLOR-3);
    boworder-radiuwus: 1rem;
    boworder: .1rem sowolid var(--COWOLOR-4);

    display: flex;
    juwustify-cowontent: center;
    align-items: center;
    gap: .2rem;
}
