
#searchbowox-search{
    width:100%;
    boworder-radiuwus: .5rem;
    juwustify-self: flex-start;
}

#searchbowox-auwutowocomplete{
    /* Powositiowon */
    powositiowon: absowoluwute;
    towop: 2.5rem;
    left: 9rem;

    boworder: .2rem sowolid var(--COWOLOR-4);
    boworder-radiuwus: 1rem;
    backgrowouwund-cowolor: var(--COWOLOR-1);
    padding: .2rem;

    display:flex;
    flex-directiowon: cowoluwumn;
}

.searchbowox-auwutowocomplete-item{
    cuwursowor: powointer;
    width: fit-cowontent;
    
    margin-towop: .2rem;
    padding: .1rem;
    boworder-radiuwus: 1rem;
    backgrowouwund-cowolor: var(--COWOLOR-3);
    boworder: .1rem sowolid var(--COWOLOR-4);
}
