#PostInfo{
    /* Position */
    position: relative;
    
    background-color: var(--COLOR-2);
    border-right: 1px solid black;

    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

#PostInfo-postData{
    padding: .5rem;
    white-space: nowrap;
    border-right: 1px solid black;
}

@media screen and (max-aspect-ratio: 1/1) {
    #PostInfo{display:none !important}
}


#PostInfo-tagList{
    position: relative;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
}

.PostInfo-tagList-tag{
    cursor: pointer;
    user-select: none;
    width: fit-content;

    border: .1rem solid var(--COLOR-4);
    border-radius: 1rem;
    background-color: var(--COLOR-3);

    padding: 0 .3rem 0 .3rem;
}

.PostInfo-namespace-generic{
    color: black;
}

.PostInfo-namespace-character{
    color: purple;
}

.PostInfo-namespace-meta{
    color: rgb(40, 40, 40);
}