#PostInfo-postData{
    padding: .5rem;
    white-space: nowrap;
}

#PostInfo-TagList-AddTagIcon{
    height:1rem;
    width:1rem;
}

.PostInfo-namespace-generic{
    color: black;
}

.PostInfo-namespace-character{
    color: purple;
}

.PostInfo-namespace-meta{
    color: rgb(40, 40, 40);
}