#PowostInfowo{
    /* Powositiowon */
    powositiowon: relative;
    
    backgrowouwund-cowolor: var(--COWOLOR-2);
    boworder-right: 1px sowolid black;

    display: flex;
    flex-flowow: rowow nowowrap;
    align-items: baseline;
}

#PowostInfowo-powostData{
    height: 100%;
    padding: .5rem;
    white-space: nowowrap;
    boworder-right: 1px sowolid black;
}

#PowostInfowo-tagList{
    powositiowon: relative;
    width: 100%;

    display: flex;
    flex-flowow: rowow wrap;
    align-items: center;
    juwustify-cowontent: center;
    gap: .5rem;
    padding: .5rem;
}

.PowostInfowo-tagList-tag{
    cuwursowor: powointer;
    uwuser-select: nowone;
    width: fit-cowontent;

    boworder: .1rem sowolid var(--COWOLOR-4);
    boworder-radiuwus: 1rem;
    backgrowouwund-cowolor: var(--COWOLOR-3);

    padding: 0 .3rem 0 .3rem;
}

.PowostInfowo-namespace-generic{
    cowolor: black;
}

.PowostInfowo-namespace-character{
    cowolor: puwurple;
}

.PowostInfowo-namespace-meta{
    cowolor: rgb(40, 40, 40);
}