#navigation-bar {
    background-color: var(--COLOR-1);
    padding:2px;
    /* Shape */
    position: static;
    top: 0;
    left: 0;
    width:100%;

    /* Flex */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: left;
}


.navbar-section {
    /* Shape */
    min-height: fit-content;
    min-width: fit-content;
    height: 1.6rem;
    width: 5rem;
    border-radius: 1.2rem;
    
    /* Center containinng items */
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    
    user-select: none;
    margin: 0.2rem;
    padding: 0.4rem;
    justify-content: center;
    text-decoration: none;
}

#version-number {
    font-size: larger;
}

.navbar-post-search {
    right:0;
}

#navigation-bar > input:focus {
    outline:none;
}


.navbar-section > *{
    --MARGIN: 5px;
    color: black;
    margin-left: var(--MARGIN);
    margin-right: var(--MARGIN);
}

.navbar-button-text {
    font-size: 1.2rem;
}

.navbar-button-icon {
    height: 1.3em;
}


@media screen and (max-aspect-ratio: 1/1) {
    #navigation-bar {
        justify-content:center;
    }
    .navbar-section{
        display:none;
    }
    #navbar-search {
        display:flex;
        width: 95vw;
    }
}