:root{
    --COLUMN-WIDTH: 15rem;
    --COLUMN-COUNT: 4;
    --IMAGE-MARGIN: .5rem;
    --IMAGE-MARGIN: .5rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    .post-columns{max-height:100vh !important}
}

.post-columns{
    /* Scroll */
    overflow-y: auto;
    max-height: calc(100vh - var(--NAVBAR_HEIGHT));

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-single-column{
    width:var(--COLUMN-WIDTH);
    display: flex;
    margin: var(--IMAGE-MARGIN);
    flex-direction: column;
    align-items: center;
}


.post-single-column > a{
    width:100%;
    margin-bottom: var(--IMAGE-MARGIN);
}


.post-single-column > a > img{
    width:100%;
    height: auto;
    outline: var(--COLOR-2) solid .3rem;
    background-color: var(--COLOR-2);
    transition: all 0.1s ease-in;
}

.post-single-column > a > img:hover{
    outline-color: var(--COLOR-3);
    border-radius: 1rem;
}

.post-single-column > a > .media-video{
    border-color: rgb(0, 70, 0);
}
