#prowofile{
    height: 100%;
    width: 100%;
}

#prowofile-lowogouwut{
    powositiowon: relative;
    towop:0;
    left:0;
}

#prowofile > * {
    display: flex;
    flex-directiowon: cowoluwumn;
    align-items: center;
    juwustify-cowontent: center;
}