:root{
    --IMAGE-SIZE: 12rem;
}

.post-list{
    margin: 2rem;
    /* Grid */
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(var(--IMAGE-SIZE),1fr));
}

@media screen and (max-width: 30rem) {
    .post-list{
        margin: .2rem;
        gap:.2rem;
    }
}


.post-list>a>img{
    max-width:var(--IMAGE-SIZE);
    max-height:var(--IMAGE-SIZE);
    border-radius: 1rem;
    border: 5px solid;
    
    background-color: var(--COLOR-2);
    border-color: var(--COLOR-2);
    transition: all 0.1s ease-out;
}
.post-list>a>.media-video{
    border-color: lightgreen;
}

.post-list>a>img:hover{
    transition: 0.2s all ease-out;
    border-color: var(--COLOR-3);
    border-radius: 3rem;
}