:root{
  /* --COLOR-1: #303a30;
  --COLOR-2: #2f3e37;
  --COLOR-3: #2b3832;
  --COLOR-4: #26322c;
  --COLOR-5: #1c2520;
  --COLOR-6: #131815;
  --COLOR-7: #090b09; */
 

  --COLOR-1: #9ac9d5;
  --COLOR-2: #62b6cb;
  --COLOR-3: #3f8098;
  --COLOR-4: #306173;
  --COLOR-5: #1e3d48;
  --COLOR-6: #0c181d;
  --COLOR-7: #070e11;

  --BACKGROUND-1: var(--COLOR-1);

  --BACKGROUND-2: var(--COLOR-2);
  --BACKGROUND-2-HOVER: var(--COLOR-3);
  
  --BACKGROUND-3: var(--COLOR-3);
  --BACKGROUND-3-HOVER: var(--COLOR-4);

  --BACKGROUND-4: var(--COLOR-4);
  --BACKGROUND-4-HOVER: var(--COLOR-5);

  --BORDER-1: var(--COLOR-5);
  --BORDER-1-HOVER: var(--COLOR-6);
  
  --BORDER-2: var(--COLOR-6);
  --BORDER-2-HOVER: var(--COLOR-7);
}

:root{
  --NAVBAR-HEIGHT: 2.8rem;
  --PAGE-HEIGHT: calc(100vh - var(--NAVBAR-HEIGHT));
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
  background-color: var(--BACKGROUND-1);
}

* {
  user-select: none;
}

text {
  user-select: text;
}


a {
  text-decoration: none;
}


.centered, .center{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.bordered{
  border: 3px solid var(--BORDER-1) ;
  background-color: var(--BACKGROUND-2);
  transition: 0.15s ease-out;
}

.bordered-hover:hover {
  transition: 0.3s ease-out;
  background-color:var(--BACKGROUND-3);
  border-radius: .4rem;
}

.disable-link-text {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

@keyframes fadeIn{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}