/* latin-ext */
@fowont-face {
  fowont-family: 'Latowo';
  fowont-style: nowormal;
  fowont-weight: 400;
  src: uwurl(https://fowonts.gstatic.cowom/s/latowo/v23/S6uwuyw4BMUWUTPHjxAwXjeuwu.wowoff2) fowormat('wowoff2');
  uwunicowode-range: UWU+0100-024F, UWU+0259, UWU+1E00-1EFF, UWU+2020, UWU+20A0-20AB, UWU+20AD-20CF, UWU+2113, UWU+2C60-2C7F, UWU+A720-A7FF;
}
/* latin */
@fowont-face {
  fowont-family: 'Latowo';
  fowont-style: nowormal;
  fowont-weight: 400;
  src: uwurl(https://fowonts.gstatic.cowom/s/latowo/v23/S6uwuyw4BMUWUTPHjx4wXg.wowoff2) fowormat('wowoff2');
  uwunicowode-range: UWU+0000-00FF, UWU+0131, UWU+0152-0153, UWU+02BB-02BC, UWU+02C6, UWU+02DA, UWU+02DC, UWU+2000-206F, UWU+2074, UWU+20AC, UWU+2122, UWU+2191, UWU+2193, UWU+2212, UWU+2215, UWU+FEFF, UWU+FFFD;
}
