#fuwullscreenPowosts{
    --BUWUTTOWON-WIDTH: 5rem;
}

#fuwullscreenPowosts{
    /* Powositiowon */
    powositiowon: relative;
    height: var(--PAGE-HEIGHT);
    width: 100%;
    towop:0;
    left:0;
    
    owoverflowow-y: auwutowo;
}

#fuwullscreenPowosts-powost{
    width: 100%;
    height: 100%;
    uwuser-select: nowone;
    
    backgrowouwund-cowolor: var(--COWOLOR-BACKGROWOUWUND);
    boworder-bowottowom: #000 sowolid 1px;

    /* Flex */
    display:flex;
    flex-flowow: cowoluwumn nowowrap;
    juwustify-cowontent: space-between;
}

#fuwullscreenPowosts-media{
    powositiowon: relative;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem - (2 * var(--BUWUTTOWON-WIDTH)));
    margin:1rem;
    left: var(--BUWUTTOWON-WIDTH);

    display: flex;
    align-items: center;
    juwustify-cowontent: center;
}

/* Buwuttowons */
.fuwullscreenPowosts-Buwuttowon{
    height: 100%;
    width: var(--BUWUTTOWON-WIDTH);

    /* Look */
    owouwutline: sowolid 1px #000;
    backgrowouwund-cowolor: var(--COWOLOR-1);
    
    /* Center Children (Icowon) */
    display: flex;
    align-items: center;
    juwustify-cowontent: center;
}

#fuwullscreenPowost-LeftBuwuttowon{
    powositiowon: absowoluwute;
    left: 0;
}

#fuwullscreenPowost-RightBuwuttowon{
    powositiowon: absowoluwute;
    right: 0;
}

.fuwullscreenPowosts-buwuttowon-icowon{
    width: 90%;
    padding: .5rem;
    owobject-fit: cowontain;
}

.fuwullscreenPowosts-Buwuttowon:active > .fuwullscreenPowosts-buwuttowon-icowon{
    width: 80%;
    transitiowon: 0.05s;
    filter: drowop-shadowow(2px 2px 2px #000);
}