#fullscreenPosts{
    --BUTTON-WIDTH: 5rem;
}

#fullscreenPosts{
    /* Position */
    position: relative;
    height: var(--PAGE-HEIGHT);
    width: 100%;
    top:0;
    left:0;
    
    overflow-y: auto;
}

#fullscreenPosts-post{
    width: 100%;
    height: 100%;
    user-select: none;
    
    background-color: var(--COLOR-BACKGROUND);
    border-bottom: #000 solid 1px;

    /* Flex */
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#fullscreenPosts-media{
    position: relative;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    margin:1rem;
    left: var(--BUTTON-WIDTH);
    width: calc(100% - (2 * var(--BUTTON-WIDTH)));

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.fullscreenPosts-Button{
    height: 100%;
    width: var(--BUTTON-WIDTH);

    /* Look */
    outline: solid 1px #000;
    background-color: var(--COLOR-1);
    
    /* Center Children (Icon) */
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullscreenPost-LeftButton{
    position: absolute;
    left: 0;
}

#fullscreenPost-RightButton{
    position: absolute;
    right: 0;
}

.fullscreenPosts-button-icon{
    width: 90%;
    padding: .5rem;
    object-fit: contain;
}

.fullscreenPosts-button:active > .fullscreenPosts-button-icon{
    width: 80%;
    transition: 0.05s;
    filter: drop-shadow(2px 2px 2px #000);
}