:root{
    --IMAGE-SIZE: 12rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    :root {
        --IMAGE-SIZE: 30vw !important;
    }
}

.post-list{
    padding: 2rem 10vw 2rem 10vw;
    
    /* Position */
    max-width: 100%;
    max-height: calc(100vh - 4rem - var(--NAVBAR_HEIGHT));
    overflow-y: auto;


    /* Grid */
    display: grid;
    align-items: center;
    justify-items: center;
    gap:1rem;
    grid-template-columns: repeat(auto-fit,minmax(var(--IMAGE-SIZE),1fr));
}

.post-list>a{
    --MIN-SIZE:calc(var(--IMAGE-SIZE) / 2);
    --MAX-SIZE:var(--IMAGE-SIZE);

    min-width: var(--MIN-SIZE);
    min-height: var(--MIN-SIZE);
    max-width: var(--MAX-SIZE);
    max-height: var(--MAX-SIZE);

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-list>a img{
    height: var(--IMAGE-SIZE);
    width: 100%;
    object-fit: cover;
    
    background-color: var(--COLOR-2);
    outline: var(--COLOR-2) 0.3rem solid;
}

.post-list>a:hover  img{
    transition: 0.3s all ease-out;
    border-color: var(--COLOR-3);
    border-radius: calc(var(--IMAGE-SIZE) / 5);
}
