#post-page{
    display: flex;
    height: calc(100vh - var(--NAVBAR_HEIGHT));
}

#post-image-container{
    display: flex;
    justify-content: center;
    width:100%
}

#post-image>*{
    max-height: 80vh;
    max-width: 70vh;
    border-radius: .5rem;
    margin: 1rem;
}

@media screen and (max-width: 30rem) {
    .post-sidebar {
        display: none;
    }
}
