.post-sidebar{
    position: static;
    width: fit-content;
    max-width: 20rem;
    background-color: var(--COLOR-1);
    padding-right: 1rem;
    float: left;
    padding: .5rem;
}


@media screen and (max-width: 30rem) {
    .post-sidebar {
        display: none;
    }
}