#messageBox-container{
    z-index: 1;
    display: block;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-content: center;
    transition: .05s ease-out;
}

#messageBox{
    height: min-content;
    width: min-content;
    /* Look */
    background-color: var(--COLOR-2);
    border: .2em solid var(--COLOR-4);
    border-radius: 1rem;
}