#messageBowox-cowontainer{
    z-index: 1;
    display: blowock;
    powositiowon: absowoluwute;
    left: 50%;
    towop: 30%;
    transfoworm: translate(-50%, -50%);
    margin: 0 auwutowo;

    display: flex;
    juwustify-cowontent: center;
    align-cowontent: center;
    transitiowon: .05s ease-owouwut;
}

#messageBowox{
    height: min-cowontent;
    width: min-cowontent;
    /* Look */
    backgrowouwund-cowolor: var(--COWOLOR-2);
    boworder: .2em sowolid var(--COWOLOR-4);
    boworder-radiuwus: 1rem;
}