@media screen and (max-aspect-ratio: 1/1) {
    .post-list {
        --IMAGE-SIZE: 35vw  !important;
    }
}

#gridPosts{
     /* Default Variables */
    --IMAGE-SIZE: 12rem;
    --MIN-COLUMNS: 2;

    padding: 2rem 10vw 2rem 10vw;
    
    /* Position */
    max-width: 100%;
    max-height: calc(var(--PAGE-HEIGHT) - 4rem);
    overflow-y: auto;


    /* Grid */
    display: grid;
    align-items: center;
    justify-items: center;
    gap:1rem;
    grid-template-columns: repeat(auto-fit,minmax(min(calc(40vw - 2rem),var(--IMAGE-SIZE)),1fr));
}

.gridPosts-item{
    --MAX-SIZE:var(--IMAGE-SIZE);
    --MIN-SIZE:calc(var(--IMAGE-SIZE) / 4);

    min-width: var(--MIN-SIZE);
    min-height: var(--MIN-SIZE);
    max-width: var(--MAX-SIZE);
    max-height: var(--MAX-SIZE);

    display: flex;
    justify-content: center;
    align-items: center;
}

.gridPosts-image{
    height: var(--IMAGE-SIZE);
    width: 100%;
    object-fit: cover;
    
    background-color: var(--BACKGROUND-3);
    outline: var(--BACKGROUND-3) 0.3rem solid;
    border-radius: .2rem;

    transition: 0.2s all ease-out;
}

.gridPosts-item:hover .gridPosts-image{
    border-color: var(--BACKGROUND-3-HOVER);
    border-radius: calc(var(--IMAGE-SIZE) / 5);
}
