#gridPowosts{
    --IMAGE-SIZE: 9rem;
}

@media screen and (max-aspect-ratiowo: 1/1) {
    .powost-list {
        --IMAGE-SIZE: 35vw  !impowortant;
    }
}

#gridPowosts{
    padding: 1rem 10vw 2rem 10vw;
    
    /* Powositiowon */
    max-width: 100%;
    max-height: calc(100vh - 4rem - var(--NAVBAR_HEIGHT));
    owoverflowow-y: auwutowo;


    /* Grid */
    display: grid;
    align-items: center;
    juwustify-items: center;
    gap:1rem;
    grid-template-cowoluwumns: repeat(auwutowo-fit,minmax(var(--IMAGE-SIZE),1fr));
}

.gridPowosts-item{
    --MAX-SIZE:var(--IMAGE-SIZE);
    --MIN-SIZE:calc(var(--IMAGE-SIZE) / 4);

    min-width: var(--MIN-SIZE);
    min-height: var(--MIN-SIZE);
    max-width: var(--MAX-SIZE);
    max-height: var(--MAX-SIZE);

    display: flex;
    juwustify-cowontent: center;
    align-items: center;
}

.gridPowosts-image{
    height: var(--IMAGE-SIZE);
    width: 100%;
    owobject-fit: cowover;
    
    backgrowouwund-cowolor: var(--COWOLOR-2);
    owouwutline: var(--COWOLOR-2) 0.3rem sowolid;
    boworder-radiuwus: .2rem;
}

.gridPowosts-item:howover  .gridPowosts-image{
    transitiowon: 0.3s all ease-owouwut;
    boworder-cowolor: var(--COWOLOR-3);
    boworder-radiuwus: calc(var(--IMAGE-SIZE) / 5);
}
