#post-page{
    display: flex;
    height: calc(100vh - var(--NAVBAR_HEIGHT));
}

#post-image-container{
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#post-image{
    max-height: calc(100vh - var(--NAVBAR_HEIGHT) - 1rem);
    width:100%;
    padding: 2rem;
}