:root{
    --COLOR-PRIMARY: #808080;
    --COLOR-SECONDARY: #a9a9a9;
    --COLOR-TERTIARY:  #708090;
}

#navigation-bar {
    background-color: var(--COLOR-PRIMARY);
    
    /* Shape */
    position: fixed;
    top: 0;
    left: 0;
    height: 6vh;
    width:100vw;

    /* Flex */
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

#navigation-bar > a {
    margin: 0.2rem;
    background-color: var(--COLOR-SECONDARY);
    text-decoration: none;
    
    /* Shape */
    min-height: fit-content;
    min-width: fit-content;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;

    /* Center containinng items */
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    justify-content: center;
}

#navigation-bar > a:hover {
    transition: 0.2s ease-out;
    background-color:var(--COLOR-TERTIARY);
    border-radius: 0.2rem;
}

#navigation-bar > a > *{
    --MARGIN: 5px;
    color: black;
    margin-left: var(--MARGIN);
    margin-right: var(--MARGIN);
}

#navigation-bar > a > span{
    font-size: 1.2rem;
}

#navigation-bar > a > svg {
    width: 1rem;
    height: 1rem;
}