:root{
    --IMAGE-WIDTH: 10rem;
}

.post-list{
    background-color: cadetblue;
    padding: 1rem;
    top: 6vh;
    height:94vh;
    width: 100%;
    overflow-y: scroll;

    /* Grid */
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit,minmax(var(--IMAGE-WIDTH),1fr));
}

.post-list>a>img{
    width: var(--IMAGE-WIDTH);
    border-radius: 1rem;
    border: 5px solid #00f;
}