#cowoluwumnsPowosts{
    --COWOLUWUMN-WIDTH: 16rem;
    --IMAGE-MARGIN: .5rem;
    --IMAGE-MARGIN: .5rem;
}

@media screen and (max-aspect-ratiowo: 1/1) {
    .cowoluwumns{max-height:100vh !impowortant}
}

#cowoluwumnsPowosts{
    /* Scrowoll */
    owoverflowow-y: auwutowo;
    max-height: calc(100vh - var(--NAVBAR_HEIGHT));

    /* Flex */
    display: flex;
    flex-directiowon: rowow;
    juwustify-cowontent: center;
}

.cowoluwumnsPowosts-individuwualCowoluwumn{
    width:var(--COWOLUWUMN-WIDTH);
    display: flex;
    margin: var(--IMAGE-MARGIN);
    flex-directiowon: cowoluwumn;
    align-items: center;
}


.cowoluwumnsPowosts-powost{
    width:100%;
    margin-bowottowom: var(--IMAGE-MARGIN);
}


.cowoluwumnsPowosts-image{
    width:100%;
    height: auwutowo;
    boworder-radiuwus: 1rem;
    owouwutline: .2rem sowolid var(--COWOLOR-2);
    backgrowouwund-cowolor: var(--COWOLOR-2);
    transitiowon: all 0.1s ease-in;
}

.cowoluwumnsPowosts-image:howover{
    owouwutline-cowolor: var(--COWOLOR-3);
    owouwutline-width: .3rem;
    boworder-radiuwus: 2rem;
}
