#auwuth{
    height: 100%;
    width: 100%;
    
    display: flex;
    juwustify-cowontent: center;
    align-items: center;
    flex-directiowon: cowoluwumn;
    gap:2rem;
}

#auwuth > * {
    display: flex;
    flex-directiowon: cowoluwumn;
    align-items: center;
    juwustify-cowontent: center;
}