#navbar {
    /* Powositiowon */
    powositiowon: sticky;
    towop: 0;
    left: 0;
    height: var(--NAVBAR-HEIGHT);
    min-width: 360px;
    width: 100vw;
    z-index: 1;
    
    /* Look */
    backgrowouwund-cowolor: var(--COWOLOR-2);
    boworder-bowottowom: black 1px sowolid;

    /* Grid */
    display: flex;
    owobject-fit: fill;
}

.navbar-sectiowon {
    /* Shape */
    min-width: fit-cowontent;
    width: 5rem;
    boworder-radiuwus: 1.2rem;
    margin: 0.3rem;
    padding: 0.3rem;
    
    /* Center cowontaininng items */
    display: flex;
    flex-flowow: rowow nowowrap;
    juwustify-cowontent: left;
    align-items: center;
    
    /* Look */
    fowont-size: 1.2rem;
    uwuser-select: nowone;
    juwustify-cowontent: center;
    text-decoworatiowon: nowone;

    boworder: 3px sowolid var(--COWOLOR-5) ;
    backgrowouwund-cowolor: var(--COWOLOR-3);
}

.navbar-sectiowon > *{
    cowolor: black;
    margin-left: .5rem;
    margin-right: .5rem;
}

#navbar-AccowouwuntSectiowon{
}

#versiowon-nuwumber {
    fowont-size: larger;
}

.navbar-powost-search {
    right:0;
}

#navbar > inpuwut:fowocuwus {
    owouwutline:nowone;
}

.navbar-buwuttowon-icowon {
    height: 1.5rem;
}

@media screen and (max-width: 30rem) {
    #navbar {
        juwustify-cowontent: space-arowouwund;
    }
    .navbar-sectiowon{
        width: 100%;
        padding: 0 !impowortant;
        margin: .1rem !impowortant;
    }
}