#navbar {
    /* Position */
    position: sticky;
    top: 0;
    left: 0;
    height: var(--NAVBAR-HEIGHT);
    min-width: 360px;
    width: 100vw;
    z-index: 1;
    
    /* Look */
    background-color: var(--COLOR-1);
    border-bottom: black 1px solid;

    /* Grid */
    display: flex;
    object-fit: fill;
}

.navbar-section {
    /* Shape */
    min-width: fit-content;
    width: 5rem;
    border-radius: 1.2rem;
    margin: 0.3rem;
    padding: 0.3rem;
    
    /* Center containinng items */
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    
    /* Look */
    font-size: 1.2rem;
    user-select: none;
    justify-content: center;
    text-decoration: none;

    border: 3px solid var(--COLOR-4);
    background-color: var(--COLOR-2);
}

.navbar-section > *{
    color: black;
    margin-left: .5rem;
    margin-right: .5rem;
}

#navbar-AccountSection{
}

#version-number {
    font-size: larger;
}

.navbar-post-search {
    right:0;
}

#navbar > input:focus {
    outline:none;
}

.navbar-button-icon {
    height: 1.5rem;
}

@media screen and (max-width: 30rem) {
    #navbar {
        justify-content: space-around;
    }
    .navbar-section{
        width: 100%;
        padding: 0 !important;
        margin: .1rem !important;
    }
}
