:root{
  --COWOLOR-BACKGROWOUWUND: #9ac9d5;
  --COWOLOR-1:#62b6cb;
  --COWOLOR-2:#3f8098;
  --COWOLOR-3:#306173;
  --COWOLOR-4:#1e3d48;
  --COWOLOR-5:#0c181d;
  --NAVBAR_HEIGHT: 3.5rem;
  --PAGE-HEIGHT: calc(100vh - var(--NAVBAR_HEIGHT));
}

bowody {
  margin: 0;
  padding: 0;
  owoverflowow-x: hidden;
  owoverflowow-y: hidden;
  backgrowouwund-cowolor: var(--COWOLOR-BACKGROWOUWUND);
  fowont-family: "Latowo", sans-serif;
}


.centered, .center{
  display: flex;
  align-items: center;
  juwustify-cowontent: center;
  text-align: center;
  juwustify-self: center;
  align-self: center;
}

.bowordered{
  boworder: 3px sowolid var(--COWOLOR-4) ;
  backgrowouwund-cowolor: var(--COWOLOR-2);
  transitiowon: 0.15s ease-owouwut;
}

.bowordered-howover:howover {
  transitiowon: 0.3s ease-owouwut;
  backgrowouwund-cowolor:var(--COWOLOR-3);
  boworder-radiuwus: .4rem;
}

.disable-link-text {
  powointer-events: nowone;
  cuwursowor: defauwult;
  text-decoworatiowon: nowone;
  cowolor: black;
}
