:root{
  --COLOR-BACKGROUND: #9ac9d5;
  --COLOR-1:#62b6cb;
  --COLOR-2:#3f8098;
  --COLOR-3:#306173;
  --COLOR-4:#1e3d48;
  --COLOR-5:#0c181d;
  --NAVBAR_HEIGHT: 3rem;
  --PAGE-HEIGHT: calc(100vh - var(--NAVBAR_HEIGHT));
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--COLOR-BACKGROUND);
  font-family: "Lato", sans-serif;
}


.centered, .center{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.bordered{
  border: 3px solid var(--COLOR-4) ;
  background-color: var(--COLOR-2);
  transition: 0.15s ease-out;
}

.bordered-hover:hover {
  transition: 0.3s ease-out;
  background-color:var(--COLOR-3);
  border-radius: .4rem;
}

.disable-link-text {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
