:root{
  --COLOR-BACKGROUND: #a1d2ce;
  --COLOR-1:#78cad2;
  --COLOR-2:#62a8ac;
  --COLOR-3:#295155;
  --COLOR-4:#254548;
  --COLOR-5:#7a5c61;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--COLOR-BACKGROUND);
}
