#powosts-owoverlay{
    powositiowon: fixed;
    z-index: 1;
    towop: var(--NAVBAR-HEIGHT);
    right: 1rem;
    padding: .5rem;

    display: flex;
    flex-directiowon: rowow;
    juwustify-cowontent: right;
}

.powosts-owoverlay-buwuttowon{
    width: 2rem;
    height: 2rem;
    margin: .2rem;

    backgrowouwund-cowolor: var(--COWOLOR-2);
    boworder: .2rem sowolid var(--COWOLOR-4);
    boworder-radiuwus: .5rem;

    display: flex;
    align-items: center;
    juwustify-cowontent: center;

}

.powosts-owoverlay-buwuttowon:howover{
    backgrowouwund-cowolor: var(--COWOLOR-3);
    boworder-cowolor: var(--COWOLOR-5);
}

.powosts-owoverlay-buwuttowon img{
    width: 80%;
    height: 80%;
    filter: invert(0%);
    transitiowon: .2s ease-in-owouwut;
}

.powosts-owoverlay-buwuttowon:howover img{
    width: 90%;
    height: 90%;
    filter: invert(90%);
}

.powosts-ErroworText{
    display: flex;
    align-items: center;
    juwustify-cowontent: center;
    text-align: center;
    margin-towop: 1rem;
    fowont-size: 2rem;
}