#posts-searchBoxContainer{
    display: none;
    width: 100vw;
    height: 100vh;
}

#posts-searchBox{
    z-index: 1;
    display: block;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-content: center;
    transition: .05s ease-out;
}

#posts-overlayButtons{
    position: fixed;
    top: calc(var(--NAVBAR-HEIGHT) + 2rem);
    right: 1rem;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

#posts-searchButton{
    width: 2rem;
    height: 2rem;
    margin: .5rem;

    background-color: var(--COLOR-2);
    border: .2rem solid var(--COLOR-4);
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

}

#posts-searchButton:hover{
    background-color: var(--COLOR-3);
    border-color: var(--COLOR-5);
}

#posts-searchButton img{
    width: 85%;
    height: 85%;
    filter: invert(0%);
    transition: .2s ease-in-out;
}

#posts-searchButton:hover img{
    width: 90%;
    height: 90%;
    filter: invert(90%);
}

.posts-ErrorText{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}